body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color:aliceblue
}

nav{
  background-color: antiquewhite;
}

main{
  background-color: azure;
  font-size: 150%;
}

footer{
  background-color: beige;
}

li{
  display:inline-block;
  width: 27%;
  text-align: center;
  height: 100px;
  background: white;
  line-height: 100px;
}

h1{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  color:brown;
}

p{
  line-height: 100px;
}